//背景颜色规范定义
$background-color = #0f1419 //大背景色
$home-color = #2b3a4a//#2b3a4a => #202630 首页背景渐变色
$personal-color = #202630//个人中心列表背景颜色
$cancel-color = rgba(0,0,0,.3) //取消比赛背景色

//字体颜色规范定义
$right-color = #ccc //向右的箭头
$special-color = #03fcb3 // 醒目字体颜色
$normal-color = #fff //常规字体颜色
$small-color = #b5c1cd //小字颜色
$details-color = #dbe5f1//详情字体颜色
$detailsTitle-color = #c2c5c8//详情标题颜色
$personal-color = #202630//个人中心列表颜色
$title-color = #bacef1//失去光标大标题颜色

//字体大小规范
$words-size-10 = 10px
$words-size-12 = 12px
$words-size-13 = 13px
$words-size-14 = 14px
$words-size-16 = 16px
$words-size-17 = 17px
$words-size-18 = 18px 
$words-size-20 = 20px
$words-size-24 = 24px
$words-size-30 = 30px
$words-size-54 = 54px